<!DOCTYPE html>
<html>
  <head>
    <title>SendingParams</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>This is a heading.</h2>
    <%= yield %>
    <p>This is some text.<p>
  </body>
</html>
